:root{
  --montserrat: 'Montserrat', sans-serif;
  --prata: 'Prata', serif;
}


body {
  margin: 0;
  font-family: 'Prata', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

